<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"
            class="text-center">{{ nombre }}</th>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ nombre }}</th>
        <td>uppercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ nombre }}</th>
        <td>Slice : 3</td>
        <td>{{ nombre | slice:3 }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ nombre }}</th>
        <td>Slice : 0 : 3</td>
        <td>{{ nombre | slice:0:3 }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ arreglo }}</th>
        <td>Slice : 0 : 3</td>
        <td>{{ arreglo | slice:1:5 }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ PI }}</th>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ PI }}</th>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ a }}</th>
        <td>percent</td>
        <td>{{ a | percent }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ a }}</th>
        <td>percent:'2.2-2'</td>
        <td>{{ a | percent:'2.2-2' }}</td>
        <!--dos enteros, minimo dos decimales y maximo dos decimales-->
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ salario }}</th>
        <td>currency</td>
        <td>{{ salario | currency }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ salario }}</th>
        <td>currency:'EUR'</td>
        <td>{{ salario | currency:'EUR' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ salario }}</th>
        <td>currency:'EUR':true</td>
        <td>{{ salario | currency:'EUR':true }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ salario }}</th>
        <td>currency:'EUR':true:'4.0-0'</td>
        <td>{{ salario | currency:'EUR':true:'4.0-0' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ salario }}</th>
        <td>number:'.2-2'</td>
        <td>{{ salario | number:'.2-2' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ varlorDePromesa }}</th>
        <td>async</td>
        <td>{{ varlorDePromesa | async }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ fecha }}</th>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ fecha }}</th>
        <td>date:'medium'</td>
        <td>{{ fecha | date:'medium' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ fecha }}</th>
        <td>date:'MMMM - dd'</td>
        <td>{{ fecha | date:'MMMM - dd' }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ nombreDos }}</th>
        <td>capitalizado</td>
        <td>{{ nombreDos | capitalizado }}</td>
      </tr>

      <tr>
        <th scope="row"
            class="text-center">{{ nombreDos }}</th>
        <td>capitalizado:false</td>
        <td>{{ nombreDos | capitalizado:false }}</td>
      </tr>

      <tr>
        <td>{{ nombreTarea }}</td>
        <td>
          contrasena:{{activar}}
          <br>
          <button (click)="activar = !activar"
                  type="button"
                  class="btn btn-outline-primary">
          Activar / Desactivar
        </button>
        </td>
        <td>{{ nombreTarea | contrasena:activar }}</td>
      </tr>

    </tbody>
  </table>

  <h3>Slice</h3>
  <ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>{{ heroe | json }}</pre>

  <h4>Youtube
    <small> video</small>
  </h4>
  <hr>
  <!--<iframe width="560" height="315" [src]=" video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>-->

</div>

<br><br><br><br>
